node_modules
npm-debug.log*
dist
build
.env
.env.local
.DS_Store
.vscode
.idea
turbo
.pnpm-store
coverage
.eslintcache
.next
.tmp
**/.turbo
**/node_modules
**/*.tsbuildinfo
apps/frontend/src/**/*.js
apps/frontend/src/**/*.d.ts
apps/frontend/vite.config.js
apps/frontend/vite.config.d.ts
